*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    letter-spacing: 1px;
    
}
body{
    background: linear-gradient(
        to bottom left,
        rgb(12, 131, 164) 0%,
        /* rgb(177, 227, 210) 50%,                                                                 
        rgb(72, 72, 67) 50%, */
        rgb(21, 21, 19) 50%
    );
    min-height: 100vh;
    min-width: 100%;
    text-align: center;

    
}
.calculator{
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0b15px #000;
    border-radius: 2px solid rgb(116,114,114);
}


.display input{
    width: 360px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    color: white;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

input::placeholder{
    color: white;
}
button{
    height:70px;
    width:70px;
    border: 0;
    border-radius: 30px;
    box-shadow:  -5px -5px 12px #01101c;
    font-size: 16px;
    font-style: italic;
    margin: 10px;
    background: transparent;
    color: white;
    font-size: 22px;
    font-weight: 600;
    outline: 1px solid #313131;
    outline-offset: 3px;
    cursor: pointer;
}

button:active{
    background: #000;
    transform: translate(2px, 2px);

}

.opr{
    color:yellow;
    background:black;
    font-weight: 700;

}

#eqBtn{
    background: orangered;
    font-weight: 900;
    width: 165px;
    border-radius: 130px;
}